@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  font-family: "Poppins", sans-serif;
  /* color:white; */
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1 {
  font-weight: bolder;
}

.button {
  background-color: transparent;
  border: solid;
  color: white;
}

input[type=text], select, textarea {
  background-color: white;
  width: 40%; 
  margin-left: 1%;  
  padding: 10px; 
  border: 1px solid grey;
  border-radius: 30px; 
  box-sizing: border-box; 
  margin-top: 75px; 
  margin-bottom: 16px; 
  resize: vertical; 
  font-weight: bold;
}

.worldClock {
  color: white;
  background-image: url('./Images/clockPage.png');
  background-repeat: no-repeat;
  min-height: 93vh;
  width: 100%;
  align-content: center;
 }

.homePage {
  color: white;
  background-image: url('./Images/contactPage.png');
  background-repeat: no-repeat;
  min-height: 95vh;
  width: 100%;
  align-content: center;
 }

 .aboutPage {
  color: white;
  background-image: url('./Images/aboutPage.png');
  background-repeat: no-repeat;
  min-height: 95vh;
  width: 100%;
  align-content: center;
 }

 .contactPage {
  color: white;
  background-image: url('./Images/homePage.png');
  background-repeat: no-repeat;
  min-height: 95vh;
  width: 100%;
  align-content: center;
 }

 .loginPage {
  color: white;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url('./Images/loginimage.png'); 
  min-height: 93vh;
  width: 100%;
  padding: 1px;
  border-radius: 30px;
  align-content: center;
 }

.faqPage {
  background-image: url('./Images/faqPage.png');
  background-repeat: no-repeat;
  min-height: 95vh;
  width: 100%;
  color: white;
  align-content: center;
 }

 #link{
  margin-left: 200px;
  color: white;
  align-items: end;
}