@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  font-family: "Poppins", sans-serif;
  color:black;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
}

h1 {
  font-weight: bold;
}
